<!--===== RECOMMENDATIONS =====-->
<section>
  {% if result == 'LOW RISK' %}
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h1
      class="text-center mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-700 md:text-2xl lg:text-2xl dark:text-gray-300"
    >
      What does it mean to be Low Risk
    </h1>

    <p class="mb-3 text-gray-500 dark:text-gray-400">
      This means that you are less likely to have been exposed to HIV based on
      the risk assessment. <br />

      To confirm your HIV status, you can get tested by:
    </p>
    <ul
      class="space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400"
    >
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Booking an appointment to visit the nearest VCT centre
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Ordering a self-test kit and test yourself at the comfort of your home
      </li>
    </ul>
    <h2 class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
      You can remain at low risk by;
    </h2>
    <ul
      class="max-w-md space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400"
    >
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Practicing safe sex by consistent and correct condom use.
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Avoiding usage of already-used needle/syringe
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Frequent screening for sexually transmitted infections .
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Continually educate yourself on HIV transmission.
      </li>
    </ul>
    <h1
      class="text-center mt-2 mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-700 md:text-xl lg:text-xl dark:text-gray-300"
    >
      Prevention of Mother-to-Child Transmission
    </h1>
    <p class="mb-3 text-gray-500 dark:text-gray-400">
      All women of reproductive age should be on contraceptive use to prevent
      unplanned pregnancies. You are advised to have frequent HIV and pregnancy
      self-test
    </p>
  </div>

  {% endif %}
  <!-- For MEDERATE RISK -->
  {% if result == 'MODERATE' %}
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h1
      class="text-center mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-700 md:text-2xl lg:text-2xl dark:text-gray-300"
    >
      What does it mean to be of Moderate Risk
    </h1>

    <p class="mb-3 text-gray-500 dark:text-gray-400">
      This means that you are moderately likely to have been exposed to HIV
      based on the risk assessment. <br />
      However, this does not mean that you will definitely turn out to be HIV
      positive once tested. <br />

      If screening has not been done yet, and its within 72hours (3 days) of
      highly likely HIV exposure, PEP is advisable.
      <br />

      To confirm your HIV status, you can get tested by:
    </p>
    <ul
      class="space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400"
    >
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Booking an appointment to visit the nearest VCT centre
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Ordering a self-test kit and test yourself at the comfort of your home
      </li>
    </ul>
    <h2 class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
      You can remain at low risk by;
    </h2>
    <ul
      class="max-w-md space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400"
    >
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Practicing safe sex by consistent and correct condom use.
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Avoiding usage of already-used needle/syringe
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Frequent screening for sexually transmitted infections .
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Continually educate yourself on HIV transmission.
      </li>
    </ul>
    <h1
      class="text-center mt-2 mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-700 md:text-xl lg:text-xl dark:text-gray-300"
    >
      Prevention of Mother-to-Child Transmission
    </h1>
    <p class="mb-3 text-gray-500 dark:text-gray-400">
      All women of reproductive age should be on contraceptive use to prevent
      unplanned pregnancies. You are advised to have frequent HIV and pregnancy
      self-test
    </p>
  </div>
  {% endif %}
  <!-- FOR HIGH RISK -->
  {% if result == 'HIGH RISK' %}
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h1
      class="text-center mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-700 md:text-2xl lg:text-2xl dark:text-gray-300"
    >
      What does it mean to be High Risk
    </h1>

    <p class="mb-3 text-gray-500 dark:text-gray-400">
      This means that you are highly likely to have been exposed to HIV, based
      on the risk assessment. <br />
      >However, this does not mean that you will definitely turn out to be HIV
      positive once tested.
      <br />
      If screening has not been done yet, and its within 72hours(3 days) of
      highly likely HIV exposure, PEP is advisable. <br />

      To confirm your HIV status, you can get tested by:
    </p>
    <ul
      class="space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400"
    >
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Booking an appointment to visit the nearest VCT centre
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Ordering a self-test kit and test yourself at the comfort of your home
      </li>
    </ul>
    <h2 class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
      You can remain at low risk by;
    </h2>
    <ul
      class="max-w-md space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400"
    >
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Practicing safe sex by consistent and correct condom use.
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Avoiding usage of already-used needle/syringe
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Frequent screening for sexually transmitted infections .
      </li>
      <li class="flex items-center">
        <svg
          class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Continually educate yourself on HIV transmission.
      </li>
    </ul>
    <h1
      class="text-center mt-2 mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-700 md:text-xl lg:text-xl dark:text-gray-300"
    >
      Prevention of Mother-to-Child Transmission
    </h1>
    <p class="mb-3 text-gray-500 dark:text-gray-400">
      All women of reproductive age should be on contraceptive use to prevent
      unplanned pregnancies. You are advised to have frequent HIV and pregnancy
      self-test
    </p>
  </div>
  {% endif %}
</section>
